@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan|Ubuntu');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #2196f3;
    margin: 0 10px;
}
.payment {
    background: #f8f8f8;
    max-width: 360px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.payment h2{
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #0d3c64;
}

.form .label{
display: block;
color: 555555;
margin-bottom: 6px;
}

.form .input{
    padding: 13px 0 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-wrap: none;
    outline: 16px;
    color: #555555
}

.card-grp{
    display: flex;
    justify-content: space-between;
}

.card-item{
    width: 48%;
}  

.space{
    margin-bottom: 20px;
}

.icon-relative{
    position: relative;
}