button,
hr,
input {
    overflow: visible
}

#card1{
    display: flex;
}

#card2{
    display: flex;
    width: 100%;
}

#contain1{
    display: flex;
    justify-content: space-around;
}

#contain2{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    height: 350px;
}

progress,
sub,
sup {
    vertical-align: baseline
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: 0
}

#header{
    display: flex;
    height: 300px;
    background: rgba(0, 0, 0, .8);
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

a {
    border-bottom: 2px solid;
    text-decoration: none
}

a:hover {
    opacity: .8
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 50px #fff inset
}

nav a {
    border: none
}

table td,
table th {
    padding: 5px 10px
}

table th {
    text-align: left
}

table {
    border-radius: 4px;
    border: 1px solid #c0c9d9;
    padding: 15px
}

ul {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%;
    vertical-align: bottom
}

h1 {
    font-size: 2.75em;
    line-height: 1.3
}

h2 {
    font-size: 2.145em;
    line-height: 1.3
}

h3 {
    font-size: 1.7em
}

h4 {
    font-size: 1.3em
}

h5 {
    font-size: 1.1em
}

h6 {
    font-size: 1em
}

.lity {
    z-index: 9990;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    background: rgba(0, 0, 0, .4);
    outline: 0;
    opacity: 0;
    transition: opacity .15s ease
}

.lity.lity-opened {
    opacity: 1
}

.lity.lity-closed {
    opacity: 0
}

.lity * {
    box-sizing: border-box
}

.lity-wrap {
    z-index: 9990;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    outline: 0
}

.lity-wrap:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}

.lity-loader {
    z-index: 9991;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -.8em;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    opacity: 0;
    transition: opacity .15s ease
}

.lity-loading .lity-loader {
    opacity: 1
}

.lity-container {
    z-index: 9992;
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    max-width: 100%;
    max-height: 100%;
    outline: 0
}

.lity-content {
    z-index: 9993;
    width: 100%;
    transform: scale(1);
    transition: transform .15s ease
}

.lity-closed .lity-content,
.lity-loading .lity-content {
    transform: scale(.8)
}

.lity-close {
    z-index: 9994;
    width: 47px;
    height: 47px;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    padding: 0;
    color: #fff;
    background: 0 0;
    font-size: 40px;
    font-family: serif;
    line-height: 40px;
    outline: 0;
    border: none
}

.lity-close:active {
    top: 1px
}

.lity-image img {
    max-width: 100%;
    display: block;
    line-height: 0;
    border: 0
}

.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container,
.lity-iframe .lity-container,
.lity-vimeo .lity-container,
.lity-youtube .lity-container {
    width: 100%;
    max-width: 964px
}

.lity-iframe-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: auto;
    pointer-events: auto;
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch
}

.lity-iframe-container iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
    background: #000
}

.lity-hide {
    display: none
}

@media all and (max-width:768px) {
    .lity-close {
        color: #222
    }
}

.lity-popup {
    overflow: auto;
    background: #fff;
    padding: 20px;
    width: 675px;
    max-width: 100%;
    border-radius: 4px
}

.container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1120px
}

section {
    padding: 60px 0
}

.section__title {
    margin-top: 0
}

.features__wrapper {
    display: flex;
    flex-flow: wrap
}

.row {
    display: flex
}

.row--center-cols {
    align-items: center
}

.column {
    flex: 1;
    padding: 15px
}

.col-1 {
    max-width: calc(100% / 12)
}

.col-2 {
    max-width: calc(100% / 12 * 2)
}

.col-3 {
    max-width: calc(100% / 12 * 3)
}

.col-4 {
    max-width: calc(100% / 12 * 4)
}

.col-5 {
    max-width: calc(100% / 12 * 5)
}

.col-6 {
    max-width: calc(100% / 2)
}

.col--img {
    text-align: center
}

@media all and (max-width:768px) {
    .row {
        flex-flow: column
    }

    .row--img-left {
        flex-flow: column-reverse
    }

    .row--img-left {
        flex-flow: column
    }

    .col--text {
        text-align: center
    }
}

section.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box
}

.banner__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1
}

.banner__inner {
    padding: 60px 0;
    box-sizing: border-box
}

.banner--image_left .row {
    flex-flow: row-reverse
}

.banner--image_top .row {
    flex-flow: column-reverse
}

.banner--image_bottom .row,
.banner--image_stick_bottom .row {
    flex-flow: column
}

.banner--image_left .banner__content,
.banner--image_right .banner__content {
    display: flex;
    flex-flow: column;
    justify-content: center
}

section.banner--image_stick_bottom {
    padding-bottom: 0
}

.banner--image_stick_bottom .banner__inner {
    padding-bottom: 0
}

.banner--image_stick_bottom .banner__image {
    padding: 0
}

.banner__image {
    text-align: center
}

.banner__image img {
    max-width: 725px;
    width: 100%
}

.banner__image video {
    width: 100%
}

.banner__content {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    box-sizing: border-box
}

.banner__content p {
    margin: 1em
}

.banner__cta {
    padding-top: 25px
}

.audioplayer {
    display: inline-block
}

.audioplayer .audio__pause,
.audioplayer .audio__play {
    cursor: pointer
}

.icon_box {
    width: 33.333%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto
}

.icon_box__icon {
    font-size: 1.3em;
    padding-right: 20px;
    line-height: 1;
    padding-top: 5px
}

.icon_box__content .icon_box__title {
    margin: 0;
    padding-bottom: 1em;
    font-weight: 700
}

.icon_box__content .icon_box__text {
    margin: 0
}

.icon_box.style--icon_bottom {
    flex-flow: column-reverse;
    text-align: center
}

.icon_box.style--icon_top {
    flex-flow: column;
    text-align: center
}

.icon_box.style--icon_top .icon_box__icon {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 10px
}

.icon_box.style--icon_bottom .icon_box__icon {
    padding-right: 0;
    padding-top: 10px
}

i.size--default,
span.size--default {
    font-size: 21px
}

i.size--medium,
span.size--medium {
    font-size: 30px
}

i.size--large,
span.size--large {
    font-size: 40px
}

i.size--xl,
span.size--xl {
    font-size: 60px
}

i.size--xxl,
span.size--xxl {
    font-size: 85px
}

img.size--default {
    width: 25px
}

img.size--medium {
    width: 30px
}

img.size--large {
    width: 40px
}

img.size--xl {
    width: 60px
}

img.size--xxl {
    width: 85px
}

@media all and (max-width:850px) {
    div.icon_box {
        width: 50% !important
    }
}

@media all and (max-width:630px) {
    div.icon_box {
        width: 100% !important
    }
}

.page__content {
    margin-top: 75px
}

.button {
    padding: .87em 1.7em;
    border-radius: 4px;
    background: #fff;
    text-decoration: none;
    box-sizing: border-box;
    transition: transform .3s cubic-bezier(.374, .019, .035, 1.861), -webkit-transform .3s cubic-bezier(.374, .019, .035, 1.861);
    display: inline-block;
    border: none;
    cursor: pointer;
    outline: 0
}

.button:hover {
    transform: scale(1.05);
    opacity: 1
}

.list {
    position: relative;
    padding-top: 20px
}

.list_item {
    margin-bottom: 20px;
    position: relative
}

.list_item__separator {
    opacity: .5
}

.list_item__inner {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .095);
    margin-bottom: 20px;
    box-sizing: border-box;
    position: relative
}

.list_item__row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 15px 20px
}

.list_item .list_item__detail {
    padding: 25px;
    padding-top: 35px;
    width: 100%;
    display: none;
    box-sizing: border-box
}

.list_item.has_detail .list_item__row {
    padding-left: 35px;
    cursor: pointer
}

.list_item.has_detail .list_item__image::before {
    content: '';
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    transform: rotate(45deg);
    transition: .15s linear;
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -3px
}

.list_item.is_open .list_item__image::before {
    transform: rotate(-135deg)
}

.list_item.has_hover {
    transition: transform .2s cubic-bezier(.374, .019, .035, 1.861)
}

.list_item.has_hover:hover {
    transform: scale(1.03)
}

.list_item__description,
.list_item__title {
    margin: 0;
    padding: 0
}

.list_item__description {
    opacity: .75;
    font-size: 90%;
    padding-top: 5px
}

.list_item__tags {
    opacity: .6;
    font-size: 75%;
    padding-top: 5px
}

.list_item__image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    display: flex;
    position: relative;
    align-items: center
}

.list_item__image img {
    border-radius: 4px;
    width: 80px;
    max-width: 80px
}

.list_item__right {
    margin-left: auto
}

.cards {
    width: 100%
}

.cards__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: start
}

.cards .more,
.list .more {
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center
}

.per-row--4 .card {
    width: 25%;
    padding: 12px
}

.per-row--5 .card {
    width: 20%;
    padding: 10px
}

.per-row--2 .card {
    width: 50%
}

.per-row--1 .card {
    width: 100%;
    padding: 15px 0
}

.card {
    width: 33.333%;
    padding: 15px;
    box-sizing: border-box
}

.card__inner {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: relative;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .08);
    transition: transform .2s cubic-bezier(.374, .019, .035, 1.861), -webkit-transform .2s cubic-bezier(.374, .019, .035, 1.861);
    flex: 0 0 auto
}

.card__link {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: none
}

.card.has_hover {
    cursor: pointer
}

.card.has_hover .card__inner:hover {
    transform: scale(1.03)
}

.card__header {
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.card__header_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: rgba(0, 0, 0, .3)
}

.card__content div.card__extras {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.card__content div.card__extras>div {
    width: 25%;
    text-align: center;
    position: relative;
    z-index: 5
}

.card__header .card__extras {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px
}

.card__header .card__extras>div {
    position: absolute;
    display: inline-block;
    z-index: 5
}

.card__header .card__extras>div:nth-child(1) {
    left: 0
}

.card__header .card__extras>div:nth-child(2) {
    right: 0
}

.card__header .card__extras>div:nth-child(3) {
    bottom: 0
}

.card__header .card__extras>div:nth-child(4) {
    bottom: 0;
    right: 0
}

.card__content {
    font-size: .85em;
    height: 150px;
    padding: 20px
}

.card__content--empty {
    height: auto
}

.card__title {
    margin: 0
}

.card__description {
    margin: 0;
    padding-top: 20px
}

.card__default .card__inner {
    height: 350px
}

.card__data-below-image .card__header,
.card__default .card__header {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px 4px 0 0;
    position: relative
}

.card__image-only .card__header {
    height: 230px;
    border-radius: 4px
}

.card__image-only .card__header_overlay {
    border-radius: 4px
}

.card__image-only .card__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    height: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    z-index: 1
}

.card__data-below-image .card__header {
    height: 180px
}

.card__data-below-image .card__content {
    height: 170px
}

.loading__overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

@media all and (max-width:1250px) {
    .per-row--5 .card {
        width: 25%
    }
}

@media all and (max-width:1070px) {

    .per-row--3 .card,
    .per-row--4 .card,
    .per-row--5 .card {
        width: 50%
    }
}

@media all and (max-width:768px) {

    .per-row--3 .card,
    .per-row--4 .card,
    .per-row--5 .card {
        width: 100%;
        padding: 15px 0
    }
}

#nav1{
    display: flex;
    justify-content: space-around;
}

.nav__toggle {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
    font-size: 24px;
    font-family: sans-serif;
    cursor: pointer;
    display: none;
    z-index: 2;
    line-height: 1
}

@media all and (max-width:768px) {
    .nav__toggle {
        display: block
    }

    nav.nav {
        display: none
    }
}

.nav__mobile {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 270px;
    width: 90%;
    bottom: 0;
    z-index: 1;
    transform: translateX(-100%)
}

.nav__mobile.active {
    transition: .12s;
    transform: translateX(0)
}

.nav__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
    display: none
}

.nav__mobile ul {
    padding: 25px;
    list-style: none
}

.nav__container .nav__mobile li a {
    color: #222;
    padding: 5px 0;
    display: block;
    border: none
}

.nav__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 13px 0
}

.nav__container .container {
    display: flex;
    align-items: center
}

.nav__brand {
    float: left
}

.nav__brand img {
    width: 45px;
    vertical-align: middle
}

nav {
    margin-left: auto;
    top: 0
}

nav ul {
    list-style-type: none
}

nav ul li {
    display: inline-block
}

nav li a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    opacity: .7;
    margin: 0 1em;
    transition: all .175s ease-in-out
}

nav li a:hover {
    opacity: 1
}

.mapboxgl-map a {
    border: none
}

.marker {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .27);
    cursor: pointer
}

.mapboxgl-popup-close-button {
    font-size: 19px
}

.mapboxgl-popup-content h1 {
    margin: 0;
    text-align: center;
    padding: 0;
    font-size: 19px;
    padding-bottom: 15px
}

.mapboxgl-popup-content img {
    border-radius: 3px;
    padding-bottom: 15px
}

.mapboxgl-popup-content p {
    font-size: 14px;
    margin: 0;
    line-height: 1.5
}

.mapboxgl-popup-content {
    padding: 20px !important
}

.contactform__wrapper {
    max-width: 600px;
    width: 100%;
    margin: 25px auto
}

.contactform__wrapper label {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 5px
}

.contactform__wrapper label:first-child {
    padding-top: 0
}

.contactform__wrapper button {
    margin-top: 25px
}

.contactform__wrapper label span {
    color: #ff5070
}

input[type=email],
input[type=number],
input[type=text],
textarea {
    height: 42px;
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c9d9;
    padding: 0 15px;
    outline: 0;
    transition: all .175s ease-in-out
}

textarea {
    height: 200px;
    padding: 15px;
    resize: none;
    transition: all .175s ease-in-out
}

input[type=email]:focus,
input[type=number]:focus,
input[type=text]:focus,
textarea:focus {
    box-shadow: 0 0 17px rgba(0, 0, 0, .09)
}

::placeholder {
    color: #8691a4;
    opacity: 1
}

:-ms-input-placeholder {
    color: #8691a4
}

::-ms-input-placeholder {
    color: #8691a4
}

.text-center {
    text-align: center
}

.element-center div,
.element-center form {
    margin: 0 auto
}

ul.list-unstyled {
    list-style-type: none
}

.filters {
    list-style-type: none;
    margin-bottom: 15px
}

.filter__item {
    display: inline-block;
    margin: 10px;
    padding: 7px 14px;
    line-height: 1;
    border-radius: 50px;
    cursor: pointer;
    min-width: 55px;
    background: 0 0;
    text-align: center
}

.filter__item.active {
    background: rgba(0, 0, 0, .25)
}

.input-group {
    display: flex;
    width: 100%;
    align-items: stretch;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px 0
}

.input-group input[type=email] {
    border-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 45px
}

.input-group .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 22px;
    height: 45px;
    line-height: 45px
}

footer {
    padding: 30px 0;
    font-size: 85% !important
}

.upvote {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative
}

.upvote span:first-child {
    padding-right: 5px
}

.upvote>* {
    pointer-events: none
}

.embed__container {
    position: relative;
    padding-bottom: 40%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    max-width: 600px
}

.embed__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

html,
body {
    font-family: 'Open Sans', 'Segoe UI', sans-serif;
    font-size: 1rem;
    color: #222;
    line-height: 1.5;
}

button[type=submit],
.button {
    color: white;
    background: #362c2c;
}

.filter__item {
    border: 2px solid #362c2c;
}

.filter__item.active {
    background: #362c2c;
    color: white;
}

a {
    color: blue;
}

[data-section="header"] {
    color: #362c2c;
    background-color: #ffd200;
}

[data-section="header"] .fg_color {
    color: #362c2c;
    fill: #362c2c;
}

[data-section="header"] .bg_color {
    background-color: #ffd200;
}

[data-section="header"] a:not(.button) {
    color: #362c2c;
    border-color: #362c2c;
}

[data-section="header"] .loading__overlay {
    background: rgba(255, 210, 0, 0.55);
}

[data-section="header"] nav li a {
    color: #362c2c;
}

.nav__container[data-nav-id="header"] nav li a,
.nav_toggle {
    color: #362c2c;
}

[data-section="list"] {
    color: #362c2c;
    background-color: white;
}

[data-section="list"] .fg_color {
    color: #362c2c;
    fill: #362c2c;
}

[data-section="list"] .bg_color {
    background-color: white;
}

[data-section="list"] a:not(.button) {
    color: #362c2c;
    border-color: #362c2c;
}

[data-section="list"] .loading__overlay {
    background: rgba(255, 255, 255, 0.55);
}

[data-section="list"] .card__inner .fg_color {
    fill: white;
}

[data-section="addyourown"] {
    color: #362c2c;
    background-color: #f2f2f2;
}

[data-section="addyourown"] .fg_color {
    color: #362c2c;
    fill: #362c2c;
}

[data-section="addyourown"] .bg_color {
    background-color: #f2f2f2;
}

[data-section="addyourown"] a:not(.button) {
    color: #362c2c;
    border-color: #362c2c;
}

[data-section="addyourown"] .loading__overlay {
    background: rgba(242, 242, 242, 0.55);
}

[data-section="footer"] {
    color: white;
    background-color: #00c0c5;
}

[data-section="footer"] .fg_color {
    color: white;
    fill: white;
}

[data-section="footer"] .bg_color {
    background-color: #00c0c5;
}

[data-section="footer"] a:not(.button) {
    color: white;
    border-color: white;
}

[data-section="footer"] .loading__overlay {
    background: rgba(0, 192, 197, 0.55);
}